{% extends "layout.html" %}

{% block content %}
<!-- <div class="centered">
    <div class="row">
        <div class="col-md-6">
            <div class="image-container">
                <figure>
                    <img src="/static/predictions/{{display_image}}" style="width:400px;height:250px;">
                    
                </figure>
            </div>
        </div>
        <div class="p-2"></div>
        <div class="col-md-6 ">
            <div class="image-container">
                <figure>
                    <img src="/static/predictions/{{display_image}}" style="width:400px;height:250px;">
                   
                </figure>
            </div>
        </div>
    </div>
    <div class="row">
        <p style="color:red"> {{predictions}}</p>
    </div>

    </br>

    <div class="row">
        <div class="col-md-5">
            <div class="upload-form">
                <p><b>Upload another?</b></p>
                <form action="/uploader" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" />
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Attribute Extraction</title>
 
  <style>
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }
  </style>
</head>
<body>

<hr style="color: #f2f2f2;">
<div class="container">
<div class="row">
  <div class="col-sm-5">
    <div class="image-container">
        <figure>
            <img src="/static/uploads/{{display_image}}" style="width:400px;height:250px;">
            
        </figure>
    </div>
    <div class="container">
       
        <h3>Upload Another?</h3>
        
      </div>
      
    <form action="/uploader" method="POST" enctype="multipart/form-data" class="form-inline">
        
        <div class="form-group mx-sm-3 mb-2">
          
          <input type="file" class="form-control" name="file" >
        </div>
        <button type="submit" class="btn btn-primary mb-2">submit</button>
      </form>
  </div>
  <div class="col-sm-7">
    
    <div class="well">
        <div class="image-container p-3">
            <figure>
                <img src="/static/predictions/{{display_image}}" style="width:400px;height:250px;">
                
            </figure>
        </div>
        <div> <hr></div>
        <div class="card mt-5" style="width: 28rem;">
            <div class="card-header">
              
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <h4><span style ="font-weight: bold;">Shirt Type&emsp;:</span><span style="font-weight: bold;color: green;"> {{predictions['shirt type']}} </span></h4></li>
              <li class="list-group-item"> <h4><span style ="font-weight: bold;">Neck Type  &ensp; :</span><span style="font-weight: bold;color: green;"> {{predictions['neck type']}}</span></h4></li>
              <li class="list-group-item"> <h4><span style ="font-weight: bold;">Sleeve Type :</span><span style="font-weight: bold;color: green;">  {{predictions['Sleeve Type']}}</span></h4></li>
              
            </ul>
        </div>
        <!-- {'shirt type': 'Shirt', 'neck type': 'Collared Neck', 'Sleeve Type': 'Full Sleeve'} -->
        <!-- <p style="color:red"> {{predictions['shirt type']}}</p>
        <p style="color:red"> {{predictions['neck type']}}</p>
        <p style="color:red"> {{predictions['Sleeve Type']}}</p> -->
    </div>
    
  </div>
</div>

</div>

</body>
</html>

{% endblock %}